.cabecalho-form{
  background-color: rgba(255, 255, 255, 0.166);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav-button-form{
  display: flex;
  width: 80%;
  justify-content: end;
}

/*************************************************************/

.content-form{
  background: #d3f0db;
  font-family: teko;
  font-size: 3.5vh;
  color: #222222;
  margin-bottom: 0;
  padding-bottom: 0;
}
.content-form h1{
  margin-top: 20px;
}
.header-form{
  text-align: center;
  font-size: 3vh;
  color: #222222;
}

/*************************************************************/

.container{
  width: 80vw;
  height: auto;
  padding-top: 2.4vh;
  padding-bottom: 2.4vh;
  background: none;
  margin-top: 5vh;
  margin-bottom: 100px;
  border-radius: 2vh;
  border: solid #00000077 0.1vh;
  background: #aae2c6;
}
.main{
  display: grid;
  place-content: center;
}
.main-1{
  margin-top: 50px;
}
/*************************************************************/

.form_first{
  display: flex;
  justify-content: center;

}
.form_second{
  display: grid;
  place-content: center;
}
.form_third{
  display: flex;
  justify-content: center;

}

.form_fourth{
  display: grid;
  place-content: center;
}
.form_fourth div{
    width: 61vw;
}

.form_fifth{
  display: grid;
  place-content: center;
  margin-top: calc(20px + 4vh);
}
/*************************************************************/

.area input{
  border-radius: 2vh;
  border: solid #00000077 0.1vh;
  font-family: poppins;
  background: rgba(255, 255, 255, 0.61);
  font-size: 15px;
  color: #222222;
  height: 5vh;
  margin-bottom: 2vh;
}

textarea:focus, input:focus, select:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}
/*************************************************************/
.area input[name=nome]{
  width: 47vw;
  display: block;
  margin-right: 1vw;
  padding-left: 1vw;
  
}
.area label[for=nome]{
    width: 40vw;
    margin-right: 5vw;
    
}
/*************************************************************/
.area input[name=idade]{
  width: 10vw;
  display: block;
  margin-left: 1vw;
  text-align: center;
  
}
.area label[for=idade]{
    width: 10vw;
    margin-left: 1vw;
}
/*************************************************************/
.area input[name=email]{
  width: 60vw;
  display: block;
  padding-left: 1vh;
}

/*************************************************************/
.area input[name=cidade]{
  display: block;
  width: 31vw;
  margin-right: 2vw;
  padding-left: 1vh;
  
}
.area label[for=cidade]{
    width: 35vw;
    margin-right: 5vw;
}
/*************************************************************/
.area select[name=estado]{
  width: 26vw;
  margin-left: 1vw;
  display: block;
  text-align: center;
  font-size: 15px;
  color: #222222;
  margin-right: -0.1vw;
  border-radius: 2vh;
  height: 5.3vh;
  border: 0;
  border: solid #00000077 0.1vh;
}
.area label[for=estado]{
  width: 26vw;
  margin-left: 1vw;
  margin-right: -0.1vw;
}
/*************************************************************/
#pessoaForm.btn{
  cursor: pointer;
  border: solid rgb(134, 134, 134) 0.4px;
  width: calc(7vh + 7vw);
  height: 5vh;
  font-family: teko;
  font-size: 3.4vh;
  color: #444444;
  transition: 0.2s;
  margin-top: calc(1vw * 2);
  border-radius: 1.4vh;
  padding-bottom: 0.8vh;
}

#pessoaForm.btn:hover{
  border-style: none;
  background: #57c775;
  color: #fff;
  border-radius: 1.4vh;
  box-shadow: 0 0 1px #57c775,
              0 0 2px #57c775,
              0 0 5px #57c775,
              0 0 10px #57c775;
}
/*************************************************************/   
#btnApagarTudo.btn{
  cursor: pointer;
  border: solid rgb(134, 134, 134) 0.4px;
  width: calc(10vh + 10vw);
  height: 6vh;
  font-family: teko;
  font-size: 3.4vh;
  color: #444444;
  transition: 0.2s;
  border-radius: 1.4vh;
}
#btnApagarTudo.btn:hover{
  border-style: none;
  background: #db4747b2;
  color: #fff;
  border-radius: 1.4vh;
  box-shadow: 0 0 1px #db4747b2,
              0 0 2px #db4747b2,
              0 0 5px #db4747b2,
              0 0 8px #db4747b2;
}

/*************************************************************/   
#pesquisarNome{
  width: calc(18vh + 18vw);
}
#btnPesquisarNome.btn{
  cursor: pointer;
  border: solid rgb(134, 134, 134) 0.4px;
  width: calc(8vh + 8vw);
  height: 6vh;
  font-family: teko;
  font-size: 3.4vh;
  color: #444444;
  transition: 0.2s;
  border-radius: 1.4vh;
}
#btnPesquisarNome.btn:hover{
  border-style: none;
  background: #93db69;
  color: #fff;
  border-radius: 1.4vh;
  box-shadow: 0 0 5px #93db69,
              0 0 25px #93db69,
              0 0 50px #93db69,
              0 0 100px #93db69;
}
/*************************************************************/          
.area select{
  width: 100px;
  height: 30px;
  font-family: poppins;
  font-size: 1px;
  text-align: center;
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.61);
}
/*************************************************************/
.area textarea{
  border-radius: 2vh;
  border: solid #00000077 0.1vh;
  font-family: poppins;
  font-size: 15px;
  color: #222222;
  margin-bottom: 2vh;
  width: 60vw;
  height: 8vh;
  padding-left: 1vh;
  resize: none;
  background: rgba(255, 255, 255, 0.61);
}
.form_fourth label{
    width: 60vw;
}



/*************************************************************/


.text-form{
  text-align: center;
  margin-bottom: 30px;
}
.pessoas{
  text-decoration: none;
  padding: 0 5vw;
}
.pessoa{
  list-style: none;
  padding-bottom: 10px;
  margin: 0;
  width: 100%;
  border-bottom: solid #00000077 0.1vh;
}
.close {
  position: absolute;
  right: 15vw;
}
.close:hover {
  background-color:blueviolet;
  color: white;
}



.linha1{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

.linha2{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
}

.btn{
  height: 40px;
  width: 15vw;
}

#pesquisarNome{
  border-radius: 2vh;
  border: solid #00000077 0.1vh;
  font-family: poppins;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.61);
  font-size: 15px;
  color: #222222;
  height: 5vh;
}

ul{
  padding: 10px;
}

li{
  list-style-type: none;
  margin: 0;
}